/* Common Section */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(213, 222, 231);
}


/* Top Section CSS */

.top-section-container{

    width: 100%;
    height: 677px;
    background-color: #2D25A0;
    
    
}

 .article-container{ 
    display: flex;
    justify-content: space-between; 
   
}

.top-section-text{

    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
    padding-top: 100px;
    padding-left: 350px;
    padding-bottom: 240px;
   
}

.Button-Link{

    text-decoration: none;
    color: white;
    background:  #E02C6D;
    padding: 10px 40px;
    font-size: 16px;
    font-family:Poppins;
}

.top-section-image{
   
    
    padding-top: 100px;
    padding-right: 270px;
   
  
}

.top-section-image:hover{
    transform: rotatey(360deg);
    transition: transform 2s ease-in-out;
  
}

#img{
 width: 550px;
 height: 475px;

}



/* Mid Section CSS */

.mid-section-container{

    padding-top: 60px;
    width:60%;
    padding-left: 400px;
    

}

.Grid-Card{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}

    
.Card{

    width: 330px;
    height: 474px;
    background-color:#FFFFFF;
    padding:15px;
}


#Card-img{

    width: 330px;
    height: 256px;
    padding:0px;

}
.Card-blog h2{
    font-size: 28px;
    font-family: Poppins;
    padding-top:10px;
    margin:0 auto;
}



/* Highlights Section */
.highlight-section-container{

    padding-top: 100px;
    
}

.highlight-article-container{

    display: flex;
    justify-content: center;
}

.highlight-section-text{

    font-weight: bold;
    font-size: 48px;
    color: #0A0826;
    padding-left: 100px;
}

.highlight-section-text p{

    font-size: 16px;
    color: #6C6C6C;
    font-weight: normal;
}

.highlight-section-image{

    padding-left: 69px;
}

#highlight-img{
    width: 567px;
   height: 427px;
}

/* Special Clips Container */
.special-clips-container{

    padding-left: 400px;
    width:60%;

}

.section-title{
    padding-left: 350px;
    font-size: 35px;
}

.special-clips{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 40px;
    grid-row-gap: 27px;
}




.more-info-container{

    padding-left: 410px;
    width:60%;
    padding-top: 100px;
    
    
}

.more-info{

    display: flex;
    justify-content: left;

}

.match-schedule{
    width:400px;
    border: 1px solid black;
    height: 600px;
    margin-right: 20px;
    background-color: white;
    border-radius: 10px;
    

}
.match-schedule-info{
   
    padding-left: 15px;
    
}

.match-schedule-info p{

    margin-top: 0;
    margin-bottom: 0;
}
.match-schedule-flexible-container{
display: flex;
align-items: center;
justify-content: left;


}

.fa-clock{
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.match-schedule h1{

    text-align: center;
 
}
.match-schedule h2,h3{


    margin-top: 0;
    margin-bottom: 0;
 
}

.Match-schedule-box-shadow{

    box-shadow: 10px 10px 50px rgb(66, 64, 64);
    
}





.transfer-market{
    width: 700px;
    border: 1px solid black;
    height: 600px;
    margin-Left: 20px;
    background-color: white;
    border-radius: 10px;
}

.transfer-market h1{

    text-align: center;
}

.transfer-market-box-shadow{

    box-shadow: 10px 10px 50px rgb(66, 64, 64);
    
}



/* Footer Section */

.footer-container{

    align-items: center;
    padding-top: 100px;
    

}
.footer-image{
   text-align: center;
}

#foot-image{
width: 484px;
height: 110px;
}

.social-media-logo{
    text-align: center;
}

.fa-instagram{
    font-size: 50px;
}
.fa-facebook-square{font-size: 50px;}
.fa-twitter-square{font-size: 50px;}
.fa-linkedin{font-size: 50px;}

.copyright{
    text-align: center;
}

.fa-copyright{font-size: 15px;}


/* Responsive Section */

@media only screen and (max-width:688px) {


    /* TOp Section */
    .top-section-container{

        width:100%;
        padding-left: 0;
        padding-right: 0;
        background-color: gray;
    }

    .article-container{ 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        
       
    }

    .top-section-text{

        font-weight: bold;
        font-size: 40px;
        color: #FFFFFF;
        padding-top: 100px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 240px;
       
    }

    
.top-section-image{
   
    
    padding-top: 150px;
    padding-right: 0;
  
  
}

#img{
    width: 100%;
    height: 475px;
   }

   /* End TOp Section */

 /* Mid Section */
 .mid-section-container{

    padding-top: 750px;
    width:100%;
    padding-left: 0px;
    

}

.Grid-Card{

    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}


     /* End Mid Section */
      /* highlight Section */
    .highlight-section-container{

        display: none;
        
    }

     /* highlight Section */

      /* special Section */
    .special-clips-container{

        
        display: none;
    
    }
     /* special Section */

      /* more Section */
    .more-info-container{
        display: none;
    }
    
     /* more Section */
      /* footer Section */
    .footer-container{

        display: none;
        
    
    }
     /* footer Section */
}




@media only screen and (min-width:689px) and (max-width:992px)  {


    /* TOp Section */
    .top-section-container{

        width:100%;
        padding-left: 0;
        padding-right: 0;
        background-color: gray;
     
    }

    .article-container{ 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        
       
    }

    .top-section-text{

        font-weight: bold;
        font-size: 40px;
        color: #FFFFFF;
        padding-top: 100px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 240px;
       
    }

    
.top-section-image{
   
    
    padding-top: 150px;
    padding-right: 0;
  
  
}

#img{
    width: 100%;
    height: 475px;
   }

   /* End TOp Section */

 /* Mid Section */
   .mid-section-container{

    display: none;
    }


     /* End Mid Section */
      /* highlight Section */
    .highlight-section-container{

        display: none;
        
    }

     /* highlight Section */

      /* special Section */
    .special-clips-container{

        
        display: none;
    
    }
     /* special Section */

      /* more Section */
    .more-info-container{
        display: none;
    }
    
     /* more Section */
      /* footer Section */
    .footer-container{

        display: none;
        
    
    }
     /* footer Section */

}


@media only screen and (min-width:993px) and (max-width:1312px){
 /* TOp Section */
 .top-section-container{

    width:100%;
    padding-left: 0;
    padding-right: 0;
    background-color: #2D25A0;
 
}

.article-container{ 
    display: flex;
    justify-content: space-between; 
}

.top-section-text{

    font-weight: Normal;
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 240px;
   
}


.top-section-image{


padding-top: 150px;
padding-right: 20px;


}

#img{
width: 100%;
height: 475px;
}

/* End TOp Section */

/* Mid Section */
.mid-section-container{

    padding-top: 60px;
    width:100%;
    padding-left: 60px;
    

}

.Grid-Card{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}


 /* End Mid Section */
  /* highlight Section */
  .highlight-section-container{

    padding-top: 100px;
    width:100%;
    padding-left: 0;
    padding-right: 0;
    
}

.highlight-article-container{

    display: flex;
    justify-content: space-between; 
}

.highlight-section-text{

    font-weight: Normal;
    font-size: 40px;
    color: #0A0826;
    padding-left: 100px;
}

.highlight-section-text p{

    font-size: 16px;
    color: #6C6C6C;
    font-weight: normal;
}

.highlight-section-image{

    padding-left: 69px;
    padding-right: 50px;
    padding-top: 50px;
}

#highlight-img{
    width: 567px;
   height: 427px;
}

 /* highlight Section */

  /* special Section */
  .special-clips-container{

    padding-left: 100px;
    width:100%;

}



.special-clips{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 15px;
    grid-row-gap: 27px;
}

 /* special Section */

  /* more Section */
  .more-info-container{

    padding-left: 100px;
    width:100%;
    padding-top: 100px;
    
    
}

.more-info{

    display: flex;
    justify-content: center;

}


 /* more Section */
  /* footer Section */
  .footer-container{

    align-items: center;
    padding-top: 100px;
    

}
 /* footer Section */
    


}


