/*............................. 
        Common Section 
...............................*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(213, 222, 231);
}


/* ......................
CSS Portion for Top Section  
...........................*/

.top-section-container{

    width: 100%;
    height: 677px;
    background-color: #2D25A0;
    
}

 .article-container{ 
    display: flex;
    justify-content: center;
   
}

.top-section-text{

    
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
    padding-top: 0;
    padding-left: 15%;
    padding-bottom: 240px;
    margin-right: 10%;
    margin-top: 2%;
   
}

.Button-Link{

    text-decoration: none;
    color: white;
    background:  #E02C6D;
    padding: 10px 40px;
    font-size: 16px;
    font-family:Poppins;
}

.top-section-image{
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 10%;
}

.top-section-image:hover{
    transform: rotatey(360deg);
    transition: transform 2s ease-in-out;
}

#img{
 width: 550px;
 height: 475px;
}

/* ...............................
End of CSS Portion for Top Section ^^^^ 
......................................*/

/* --------------------------------------------------- */

/* ......................
CSS Portion for 2nd Section/ MID Section 
where picture and wikipidea details are 
provided with player image 
...........................*/

.mid-section-container{

    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}

.Grid-Card{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    
}

    
.Card{

    width: 330px;
    height: 474px;
    background-color:#FFFFFF;
    padding:15px;
}




#Card-img{

    width: 330px;
    height: 256px;
    padding:0px;

}
.Card-blog h2{
    font-size: 28px;
    font-family: Poppins;
    padding-top:10px;
    margin:0 auto;
}
.Card-blog{
    text-align: justify;
}

/* ......................
End of CSS Portion for2nd Section
/ MID Section  
...........................*/



/* --------------------------------------------------- */


/*.................................
 CSS Portion for Highlight's Section
   ....................................*/

.highlight-section-container{

    padding-top: 5%;
    
}

.highlight-article-container{

    display: flex;
    justify-content: center;
}

.highlight-section-text{

    font-weight: bold;
    font-size: 48px;
    color: #0A0826;
    padding-left:.5%;
}

.highlight-section-text p{

    font-size: 16px;
    color: #6C6C6C;
    font-weight: normal;
}

.highlight-section-image{

    padding-left: 3%;
}

#highlight-img{
    width: 567px;
   height: 427px;
}


/*.................................
  End CSS Portion for Highlight's Section
   ....................................*/



/* --------------------------------------------------- */




/*.................................
 CSS Portion for Special Clips (Bonus part) 
 Three video clips of Copa America 2020
....................................*/



.special-clips-container{
    display: flex;
    justify-content: center;
}

.section-title{
    font-size: 35px;
    text-align: center;
}

.special-clips{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 40px;
    grid-row-gap: 27px;
}

/*.................................
 End of CSS Portion for Special Clips  
...................................*/


/*.................................
 CSS Portion for More Information (Bonus part) 
 Three video clips of Copa America 2020
....................................*/

.more-info-container{
    width:100%;
    padding-top: 2%;
}

.more-info{
    display: flex;
    justify-content: center;
}

.match-schedule{
    width:400px;
    
    height: 600px;
    margin-right: 20px;
    background-color: transparent;
    border-radius: 10px;
    

}
.match-schedule-info{
    padding-left: 15px; 
}

.match-schedule-info p{
    margin-top: 0;
    margin-bottom: 0;
}

.match-schedule-flexible-container{
display: flex;
align-items: center;
justify-content: left;
}

.fa-clock{
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.match-schedule h1{

    text-align: center;
 
}
.match-schedule h2,h3{


    margin-top: 0;
    margin-bottom: 0;
 
}

.Match-schedule-box-shadow{

    box-shadow: 10px 10px 50px rgb(66, 64, 64);
    
}



.transfer-market{
    width: 700px;

    height: 600px;
    margin-Left: 20px;
     background-color: transparent;
    border-radius: 10px;
}

.transfer-market h1{

    text-align: center;
}

.transfer-market-box-shadow{

    box-shadow: 10px 10px 50px rgb(66, 64, 64);
    
}
.blogs{
    
    display: flex;
    justify-content: left;
    align-items: center ;
    padding: 2%;

}

#transfer-img {

    width:250px;
    height: 130px;
    
    border-radius: 10px;
}
#transfer-a {
    
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
    text-align: left;

}
#transfer-p {
    
    font-weight: normal;
    font-size: 15px;
    margin-left: 20px;
    text-decoration: none;
    text-align: left;

}

/*.................................
  END of CSS Portion for More Information 
....................................*/

/* ..................................... */



/*.......................................
 CSS Portion for Footer Section 
 ........................................*/

.footer-container{

    align-items: center;
    padding-top: 100px:

}
.footer-image{
   text-align: center;
}

#foot-image{
width: 484px;
height: 110px;
}

.social-media-logo{
    text-align: center;
}

.fa-instagram{
    font-size: 50px;
}
.fa-facebook-square{font-size: 50px;}
.fa-twitter-square{font-size: 50px;}
.fa-linkedin{font-size: 50px;}

.copyright{
    text-align: center;
}

.fa-copyright{font-size: 15px;}

/*----------------------------------------------------------- */
/*----------------------------------------------------------- */
/*........... End of CSS part for different Sections......... */
/*----------------------------------------------------------- */
/*----------------------------------------------------------- */





/*----------------------------------------------------------- */
/*----------------------------------------------------------- */
/*............... Responsive Page: Media Query................*/
/*----------------------------------------------------------- */
/*----------------------------------------------------------- */




/* ...............................
Responsive Section for Mobile Device 
....................................*/

@media only screen and (max-width:688px) {

/* ...................................
CSS Portion for Responsive Top Section  
.....................................*/
    .top-section-container{

        width:100%;
        padding-left: 0;
        padding-right: 0;
        background-color: #2D25A0;
    }

    .article-container{ 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        
       
    }

    .top-section-text{

        font-weight: bold;
        font-size: 3em;
        color: #FFFFFF;
        padding-top: 100px;
        padding-left: 10%;
        padding-right: 0px;
        padding-bottom: 240px;
        text-align: center;
       
    }

    
.top-section-image{
   
    
    padding-top: 0px;
    padding-right: 0px;
  
  
}

#img{
    width: 350px;
    height: 300px;
   }

/* ...................................
End of CSS Portion for Responsive Top 
Section  
.....................................*/

/* ...................................
CSS Portion for Second/MID Section  
.....................................*/
.mid-section-container{

    padding-top: 600px;
    width:100%;
    padding-left: 0;
    padding-right: 0;
    
    
    
}
.Grid-Card{

    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    justify-content: center;
}
/* ...................................
End of CSS Portion for Second/MID Section  
.....................................*/


/* ...................................
CSS Portion for highlight's Section  
.....................................*/
 .highlight-section-container{

    padding-top: 100px;
    width:100%;

}

.highlight-article-container{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
}

.highlight-section-text{

    font-weight: bold;
    font-size: 48px;
    color: #0A0826;
    padding-left: 0px;
    text-align: center;
}

.highlight-section-text p{

    font-size: 16px;
    color: #6C6C6C;
    font-weight: normal;
}

.highlight-section-image{

    padding-left: 5px;
    padding-right: 0;
    padding-top: 30px;
}

#highlight-img{
    width: 320px;
   height: 220px;
}

/* ...................................
End of CSS Portion for highlight's Section  
.....................................*/


/* ...................................
CSS Portion for Special Clips Section  
.....................................*/

 .special-section{
          
    padding-top: 100px;
    width:100%;

}
.special-clips{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


/* ...................................
 End of CSS Portion for Special Clips Section  
.....................................*/




/* ...................................
CSS Portion for More Information Section  
.....................................*/
.more-info-container{
    width:100%;
    padding-top: 50px;
}

.more-info{
    display: flex;
    flex-direction: column;

}

.match-schedule{
    width:100%;
    height: 600px;
    background-color: transparent;
    border-radius: 10px;
    text-align: center;   

}
.match-schedule-info{
   
    padding-left: 15px;
    
}

.match-schedule-info p{

    margin-top: 0;
    margin-bottom: 0;
}
.match-schedule-flexible-container{
display: flex;
align-items: center;
justify-content: Center;

}

.transfer-market{
    width: 100%;
    height: 700px;
    background-color: transparent;
    border-radius: 10px;
    
    text-align: center; 
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top:30px;
    
}

.blogs{
    
    display: flex;
    flex-direction: column ;
}


#transfer-img {

    width:280px;
    height: 130px;
    border-radius: 10px;
}

#transfer-a{
    
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    text-align: left;

}
#transfer-p{
    display: none;

}
/* ...................................
 End of CSS Portion for More Information
 Section  
.....................................*/


/* ...................................
 CSS Portion for Footer Section  
.....................................*/
#foot-image{
width: 320px;
height: 110px;
}

.fa-instagram{
    font-size: 30px;
}
.fa-facebook-square{
    font-size: 30px;
}
.fa-twitter-square{
    font-size: 30px;
}
.fa-linkedin{
    font-size: 30px;
}
/* ...................................
 End of CSS Portion for Footer Section  
.....................................*/
}

/* ...............................
End of Responsive Section for Mobile Device 
....................................*/





/* ...............................
Responsive Section for Tablet Device 
....................................*/

@media only screen and (min-width:689px) and (max-width:1312px){

/* ...................................
CSS Portion for Responsive Top Section  
.....................................*/

     .top-section-container{

        width:100%;
        padding-left: 4%;
        padding-right: 0;
        background-color: #2D25A0;
    }

    .article-container{ 
        display: flex;
        justify-content: center;
    }

    .top-section-text{

        font-weight: bold;
        font-size: 40px;
        color: #FFFFFF;
        padding-top: 100px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 240px;
       
    }

    
.top-section-image{
    padding-top: 150px;
    padding-right: 0;
}

#img{
    width: 400px;
    height: 300px;
   }

   /* End TOp Section */

/* ...................................
CSS Portion for Second/MID Section  
.....................................*/
.mid-section-container{

    padding-top: 50px;
    width:100%;
    padding-left: 1.5%;
    padding-right: 0;
    
    
    
}
.Grid-Card{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    justify-content: center;
}
   /* End Mid Section */

/* ...................................
CSS Portion for Second/MID Section  
.....................................*/
.highlight-section-container{

    padding-top: 100px;
    width:100%;
    

}

.highlight-article-container{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.highlight-section-text{

    font-weight: bold;
    font-size: 48px;
    color: #0A0826;
    padding-left: 0px;
    text-align: center;
}

.highlight-section-text p{

    font-size: 16px;
    color: #6C6C6C;
    font-weight: normal;
}

.highlight-section-image{

    padding-left: 5px;
    padding-right: 0;
    padding-top: 30px;
}

#highlight-img{
    width: 480px;
   height: 350px;
}

 /* ENd of highlight Section */


/* ...................................
CSS Portion for Second/MID Section  
.....................................*/

.special-section{
          
    padding-top: 100px;
    width:100%;

}
.special-clips{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

 /* special Section */


/* ...................................
CSS Portion for Second/MID Section  
.....................................*/
.more-info-container{
    width:100%;
    padding-top: 50px;
    padding-left: 1.5%;
}

.more-info{
    display: flex;
    flex-direction: column;

}

.match-schedule{
    width:100%;
    height: 600px;
    background-color: transparent;
    border-radius: 10px;
    text-align: center;   

}
.match-schedule-info{
   
    padding-left: 15px;
    
}

.match-schedule-info p{

    margin-top: 0;
    margin-bottom: 0;
}
.match-schedule-flexible-container{
display: flex;
align-items: center;
justify-content: Center;

}

.transfer-market{
    width: 100%;
    height: 700px;
    background-color: transparent;
    border-radius: 10px;
    
    text-align: center; 
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top:30px;
    
}

.blogs{
    
    display: flex;
    flex-direction: column ;
}


#transfer-img {

    width:280px;
    height: 130px;
    border-radius: 10px;
}

#transfer-a{
    
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    text-align: left;

}
#transfer-p{
    display: none;

}
/* ...................................
 ENd CSS Portion for More Information Section  
.....................................*/

/* ...................................
CSS Portion for Footer Section  
.....................................*/
#foot-image{
    width: 320px;
    height: 110px;
    }
    
    .fa-instagram{
        font-size: 30px;
    }
    .fa-facebook-square{
        font-size: 30px;
    }
    .fa-twitter-square{
        font-size: 30px;
    }
    .fa-linkedin{
        font-size: 30px;
    }
/* ...................................
 ENd CSS Portion for Footer Section  
.....................................*/
}

